:root {
  --font-inter: 'Inter Variable', Inter, system-ui, -apple-system, sans-serif;
  --font-funnel-display: 'Funnel Display Variable', sans-serif;
  --font-space-mono: 'Space Mono', monospace;
  --font-alice: Alice, sans-serif;

  --pittorica-font-family: var(--font-inter);
  --pittorica-font-heading: var(--font-funnel-display);
  --pittorica-font-code: var(--font-space-mono);
  --pittorica-font-strong: inherit;
  --pittorica-font-em: inherit;
  --pittorica-font-quote: var(--font-alice);
}

.pittorica-theme {
  --pittorica-source-color: #29294b;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 56px;
}

/* AppBar */
.pittorica-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  height: var(--pittorica-app-bar-height, 64px);
}

.pittorica-app-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 var(--pittorica-space-4);
  margin: 0 auto;
}

.pittorica-nav-item:hover {
  /* Step 3: Ideal for subtle interactive backgrounds */
  background-color: var(--pittorica-slate-3);
}

.pittorica-nav-item:active {
  background-color: var(--pittorica-slate-4);
}

.cc--dark-turquoise {
  color-scheme: dark;

  --cc-bg: #161a1c;
  --cc-primary-color: rgb(239, 244, 246);
  --cc-secondary-color: #b1bdc3;

  --cc-btn-primary-bg: #60fed2;
  --cc-btn-primary-color: #000;
  --cc-btn-primary-hover-bg: #4dd4ae;
  --cc-btn-primary-hover-color: #000;

  --cc-btn-secondary-bg: #242c31;
  --cc-btn-secondary-color: var(--cc-primary-color);
  --cc-btn-secondary-hover-bg: #d4dae0;
  --cc-btn-secondary-hover-color: #000;

  --cc-cookie-category-block-bg: #1e2428;
  --cc-cookie-category-block-border: #1e2428;
  --cc-cookie-category-block-hover-bg: #242c31;
  --cc-cookie-category-block-hover-border: #242c31;
  --cc-cookie-category-expanded-block-hover-bg: #242c31;
  --cc-cookie-category-expanded-block-bg: #1e2428;
  --cc-toggle-readonly-bg: #343e45;
  --cc-overlay-bg: rgba(4, 6, 8, 0.85) !important;

  --cc-toggle-on-knob-bg: var(--cc-bg);
  --cc-toggle-readonly-knob-bg: var(--cc-cookie-category-block-bg);

  --cc-separator-border-color: #222a30;

  --cc-footer-border-color: #212529;
  --cc-footer-bg: #0f1112;
}
