@layer pittorica-components {
  .pittorica-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: var(--pittorica-space-4);
    padding-right: var(--pittorica-space-4);
  }

  .pittorica-container[data-fixed='true'] {
    max-width: 100%;
  }

  @media (min-width: 520px) {
    .pittorica-container[data-fixed='true'] {
      max-width: var(--pittorica-bp-xs);
    }
  }
  @media (min-width: 768px) {
    .pittorica-container[data-fixed='true'] {
      max-width: var(--pittorica-bp-sm);
    }
  }
  @media (min-width: 1024px) {
    .pittorica-container[data-fixed='true'] {
      max-width: var(--pittorica-bp-md);
    }
  }
  @media (min-width: 1280px) {
    .pittorica-container[data-fixed='true'] {
      max-width: var(--pittorica-bp-lg);
    }
  }
}
