@layer pittorica-components {
  .pittorica-inset {
    box-sizing: border-box;

    --_inset-margin: calc(var(--pittorica-space-4) * -1);
  }

  .pittorica-inset--all {
    margin: var(--_inset-margin);
  }
  .pittorica-inset--x {
    margin-left: var(--_inset-margin);
    margin-right: var(--_inset-margin);
  }
  .pittorica-inset--y {
    margin-top: var(--_inset-margin);
    margin-bottom: var(--_inset-margin);
  }
  .pittorica-inset--top {
    margin-top: var(--_inset-margin);
    margin-left: var(--_inset-margin);
    margin-right: var(--_inset-margin);
  }
  .pittorica-inset--bottom {
    margin-bottom: var(--_inset-margin);
    margin-left: var(--_inset-margin);
    margin-right: var(--_inset-margin);
  }

  .pittorica-inset > img,
  .pittorica-inset > video {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
