@layer pittorica-components {
  .pittorica-progress-root {
    position: relative;
    overflow: hidden;
    background-color: var(--pittorica-slate-3);
    border-radius: var(--pittorica-radius-full);
    width: 100%;
    height: 16px;
  }

  .pittorica-progress-indicator {
    height: 100%;
    transition: width 660ms cubic-bezier(0.65, 0, 0.35, 1);
    background-color: var(--pittorica-source-color);
  }
}
