/* --- section --- */
.pittorica-section {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.pittorica-section[data-size='1'] {
  padding-top: var(--pittorica-space-4);
  padding-bottom: var(--pittorica-space-4);
}
.pittorica-section[data-size='2'] {
  padding-top: var(--pittorica-space-6);
  padding-bottom: var(--pittorica-space-6);
}
.pittorica-section[data-size='3'] {
  padding-top: var(--pittorica-space-9);
  padding-bottom: var(--pittorica-space-9);
}

@media (min-width: 768px) {
  .pittorica-section[data-size='1'] {
    padding-top: var(--pittorica-space-6);
    padding-bottom: var(--pittorica-space-6);
  }
  .pittorica-section[data-size='2'] {
    padding-top: var(--pittorica-space-8);
    padding-bottom: var(--pittorica-space-8);
  }
  .pittorica-section[data-size='3'] {
    padding-top: calc(var(--pittorica-space-9) * 1.5);
    padding-bottom: calc(var(--pittorica-space-9) * 1.5);
  }
}
