@layer pittorica-components {
  .pittorica-select-root {
    display: flex;
    flex-direction: column;
    gap: var(--pittorica-space-1);
    width: 100%;
  }

  .pittorica-select-wrapper {
    display: flex;
    align-items: stretch;
    position: relative;
    background-color: var(--pittorica-slate-3);
    border-radius: var(--pittorica-radius-2) var(--pittorica-radius-2) 0 0;
    border-bottom: 1px solid var(--pittorica-slate-9);
    padding: 0;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
    min-height: 56px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .pittorica-select-wrapper:focus-within {
    border-bottom: 2px solid var(--pittorica-source-color);
    background-color: var(--pittorica-slate-4);
  }

  .pittorica-select-input {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: none !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    flex-grow: 1;
    width: 100%;

    margin: 0;
    padding: 0 0 0 var(--pittorica-space-4);

    font-family: inherit;
    font-size: var(--pittorica-font-size-3);
    color: var(--pittorica-slate-12);
    cursor: pointer;
    z-index: 1;
  }

  .pittorica-select-input::-ms-expand {
    display: none;
  }

  .pittorica-select-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pittorica-slate-11);
    pointer-events: none;
    flex-shrink: 0;

    padding: 0 var(--pittorica-space-4) 0 var(--pittorica-space-2);
    z-index: 2;
  }

  .pittorica-select-helper {
    padding-left: var(--pittorica-space-4);
    color: var(--pittorica-slate-10);
    font-size: var(--pittorica-font-size-1);
  }

  .pittorica-select-slot:not(.pittorica-select-chevron) {
    display: flex;
    align-items: center;
    padding-left: var(--pittorica-space-4);
    color: var(--pittorica-slate-9);
  }

  .pittorica-select-slot:not(.pittorica-select-chevron)
    + .pittorica-select-input {
    padding-left: var(--pittorica-space-3);
  }
}
