@layer pittorica-components {
  .pittorica-text-field-root {
    display: flex;
    flex-direction: column;
    gap: var(--pittorica-space-1);
    width: 100%;
  }

  .pittorica-text-field-input-wrapper {
    display: flex;
    align-items: stretch;
    position: relative;

    background-color: var(--pittorica-slate-3);
    border-radius: var(--pittorica-radius-2) var(--pittorica-radius-2) 0 0;
    border-bottom: 1px solid var(--pittorica-slate-9);
    padding: 0;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
    min-height: 56px;
    box-sizing: border-box;
  }

  .pittorica-text-field-input-wrapper:hover {
    background-color: var(--pittorica-slate-4);
  }

  .pittorica-text-field-input-wrapper:focus-within {
    border-bottom: 2px solid var(--pittorica-source-color);
    background-color: var(--pittorica-slate-4);
  }

  .pittorica-text-field-input {
    appearance: none;
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    flex-grow: 1;
    width: 100%;
    padding: 0 var(--pittorica-space-4);

    font-family: inherit;
    font-size: var(--pittorica-font-size-3);
    color: var(--pittorica-slate-12);
  }

  .pittorica-text-field-input::placeholder {
    color: var(--pittorica-slate-8);
  }

  .pittorica-text-field-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pittorica-slate-9);
    flex-shrink: 0;
    padding: 0 var(--pittorica-space-3);
  }

  .pittorica-text-field-input-wrapper:has(
      .pittorica-text-field-slot:first-child
    )
    .pittorica-text-field-input {
    padding-left: var(--pittorica-space-2);
  }

  .pittorica-text-field-input-wrapper:has(.pittorica-text-field-slot:last-child)
    .pittorica-text-field-input {
    padding-right: var(--pittorica-space-2);
  }

  .pittorica-text-field-input-wrapper[data-disabled='true'] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pittorica-text-field-helper {
    padding-left: var(--pittorica-space-4);
    color: var(--pittorica-slate-10);
    font-size: var(--pittorica-font-size-1);
    line-height: 1.25;
  }

  .pittorica-text-field-root[data-error='true'] .pittorica-text-field-helper {
    color: var(--pittorica-red-9);
  }

  .pittorica-text-field-root[data-error='true']
    .pittorica-text-field-input-wrapper {
    border-bottom-color: var(--pittorica-red-8);
  }
}
