@layer pittorica-components {
  .pittorica-textarea-root {
    display: flex;
    flex-direction: column;
    gap: var(--pittorica-space-1);
    width: 100%;
  }

  .pittorica-textarea-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: var(--pittorica-slate-3);
    border-radius: var(--pittorica-radius-2) var(--pittorica-radius-2) 0 0;
    border-bottom: 1px solid var(--pittorica-slate-9);
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;

    box-sizing: border-box;
  }

  .pittorica-textarea-wrapper:hover {
    background-color: var(--pittorica-slate-4);
  }

  .pittorica-textarea-wrapper:focus-within {
    border-bottom: 2px solid var(--pittorica-source-color);
    background-color: var(--pittorica-slate-4);
  }

  .pittorica-textarea-input {
    appearance: none;
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    width: 100%;
    min-height: 80px;

    font-family: inherit;
    font-size: var(--pittorica-font-size-3);
    color: var(--pittorica-slate-12);

    margin: 0;
    box-sizing: border-box;
  }

  .pittorica-textarea-input::placeholder {
    color: var(--pittorica-slate-9);
  }

  .pittorica-textarea-helper {
    padding-left: var(--pittorica-space-4);
    color: var(--pittorica-slate-10);
    font-size: var(--pittorica-font-size-1);
  }

  .pittorica-textarea-root[data-error='true'] .pittorica-textarea-wrapper {
    border-bottom-color: var(--pittorica-red-9);
  }
}
