@layer pittorica-components {
  .pittorica-text {
    margin: 0;
    font-family: var(--pittorica-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .pittorica-text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pittorica-text[data-size='1'] {
    font-size: var(--pittorica-font-size-1);
    line-height: var(--pittorica-line-height-1);
  }
  .pittorica-text[data-size='2'] {
    font-size: var(--pittorica-font-size-2);
    line-height: var(--pittorica-line-height-2);
  }
  .pittorica-text[data-size='3'] {
    font-size: var(--pittorica-font-size-3);
    line-height: var(--pittorica-line-height-3);
  }
  .pittorica-text[data-size='4'] {
    font-size: var(--pittorica-font-size-4);
    line-height: var(--pittorica-line-height-4);
  }
  .pittorica-text[data-size='5'] {
    font-size: var(--pittorica-font-size-5);
    line-height: var(--pittorica-line-height-5);
  }
  .pittorica-text[data-size='6'] {
    font-size: var(--pittorica-font-size-6);
    line-height: var(--pittorica-line-height-6);
  }
  .pittorica-text[data-size='7'] {
    font-size: var(--pittorica-font-size-7);
    line-height: var(--pittorica-line-height-7);
  }
  .pittorica-text[data-size='8'] {
    font-size: var(--pittorica-font-size-8);
    line-height: var(--pittorica-line-height-8);
  }
  .pittorica-text[data-size='9'] {
    font-size: var(--pittorica-font-size-9);
    line-height: var(--pittorica-line-height-9);
  }

  .pittorica-text[data-weight='light'] {
    font-weight: 300;
  }
  .pittorica-text[data-weight='regular'] {
    font-weight: 400;
  }
  .pittorica-text[data-weight='medium'] {
    font-weight: 500;
  }
  .pittorica-text[data-weight='bold'] {
    font-weight: 700;
  }
}
