@import './colors/base.css';
@import './colors/source.css';
@import './colors/info.css';
@import './colors/success.css';
@import './colors/warning.css';
@import './colors/danger.css';
@import './colors/surface.css';
@import './colors/slate.css';
@import './colors/indigo.css';
@import './colors/crimson.css';
@import './colors/red.css';
@import './colors/teal.css';
@import './colors/amber.css';
@import './colors/blue.css';
@import './colors/orange.css';
@import './colors/purple.css';
@import './colors/pink.css';
@import './colors/gray.css';
