@layer pittorica-components {
  @import './components/flex.css';
  @import './components/box.css';
  @import './components/grid.css';
  @import './components/container.css';
  @import './components/section.css';
  @import './components/text.css';
  @import './components/heading.css';
  @import './components/kbd.css';
  @import './components/dialog.css';
  @import './components/avatar.css';
  @import './components/badge.css';
  @import './components/chip.css';
  @import './components/divider.css';
}
