@layer pittorica-tokens {
  :root {
    --pittorica-font-family:
      system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial,
      sans-serif;
    --pittorica-font-heading: var(--pittorica-font-family);
    --pittorica-font-code:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

    --pittorica-font-size-1: 12px;
    --pittorica-line-height-1: 16px;
    --pittorica-font-size-2: 14px;
    --pittorica-line-height-2: 20px;
    --pittorica-font-size-3: 16px;
    --pittorica-line-height-3: 24px;
    --pittorica-font-size-4: 18px;
    --pittorica-line-height-4: 26px;
    --pittorica-font-size-5: 20px;
    --pittorica-line-height-5: 28px;
    --pittorica-font-size-6: 24px;
    --pittorica-line-height-6: 30px;
    --pittorica-font-size-7: 28px;
    --pittorica-line-height-7: 36px;
    --pittorica-font-size-8: 35px;
    --pittorica-line-height-8: 40px;
    --pittorica-font-size-9: 60px;
    --pittorica-line-height-9: 1.1;
  }
}
